.site-main {
	overflow: hidden
}

.page-info-team .members-list {
	font: 400 17px/1.7em "Open Sans", open-sans, sans-serif;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top
}
.page-info-team .members-list .member {
	float: left;
	width: 188px;
	height: 188px;
	margin: 0 9px 9px 0;
	cursor: pointer
}

.page-info-team .members-list .member.back {
	position: relative;
	height: 188px;
	color: #fff
}
.page-info-team .members-list .member.back .simple-info {
	display: block
}
.page-info-team .members-list .member.back:after {
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(34, 42, 51, .9) !important
}
.page-info-team .members-list .member .simple-info {
	display: none;
	position: absolute;
	z-index: 2;
	bottom: 0;
	width: 100%;
	padding: 20px
}
.page-info-team .members-list .member .simple-info .name {
	letter-spacing: 1px
}
.page-info-team .members-list .member .simple-info .post {
	font-style: italic;
	-webkit-font-smoothing: antialiased
}
.page-info-team .members-list .member .simple-info .more {
	padding-top: 7px;
	margin-top: 8px;
	border-top: 1px solid rgba(255, 255, 255, .1);
	-webkit-font-smoothing: antialiased
}
.page-info-team .members-list .member .simple-info .more:after,
.page-info-team .members-list .member .simple-info .more:before {
	content: " ";
	display: table
}
.page-info-team .members-list .member .simple-info .more:after {
	clear: both
}
.page-info-team .members-list .member .simple-info p {
	margin-bottom: 0
}
.page-info-team .members-list .member .simple-info a {
	float: left;
	width: 100%;
	color: #fff;
	opacity: .7;
	cursor: pointer
}
.page-info-team .members-list .member .simple-info a:hover {
	opacity: 1
}
.page-info-team .members-list .member .simple-info a .icon {
	font-size: 14px;
	float: right;
	margin-right: -3px
}
.page-info-team .members-list .member#tianzhe {
	background: url(me.jpg) -1px -2281px
}